<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dynamic Grid</title>
<style>
    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .grid-container {
        display: grid;
        padding: 10px;
        gap: 2px;
        justify-content: center;
    }

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid transparent; 
        width: 80px; 
        height: 60px; 
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 15px; 
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="grid-container" id="gridContainer"></div>

<script>
    function concatenateArrays(arrays, N) {
        // 补齐数组
        const paddedArrays = arrays.map(arr => {
            const paddingCount = arr.length % N === 0 ? 0 : N - (arr.length % N);
            const padding = new Array(paddingCount).fill(0);
            return arr.concat(padding);
        });
        // 拼接数组
        const concatenatedArray = paddedArrays.reduce((result, arr) => result.concat(arr), []);
        return concatenatedArray;
    }

    function getColorByLevel(level) {
        const levelColors = {
            "project": "#4169E1",
            "business": "#FFA500",
            "service": "#800080",
            "base": "#90EE90"
        };
        return levelColors[level] || "";
    }

    function toArray(array) {
        return array.reduce((result, item) => {
            result.push(item);
            return result;
        }, []);
    }
    
    const projects = [
        { level: "project", name: "WC", state: "unstart", includeBy: "dynasty" },
        { level: "project", name: "HY", state: "unstart", includeBy: "sea" },
        { level: "project", name: "FCB", state: "unstart", includeBy: "fever" },
        { level: "project", name: "YW", state: "unstart", includeBy: "revolution" },
        { level: "project", name: "TS", state: "unstart", includeBy: "denza" },
        { level: "project", name: "KC", state: "unstart", includeBy: "trunk" },
        { level: "project", name: "HW", state: "unstart", includeBy: "oversea" }
    ];
    const businesses = [
        { level: 'business', name: '爱车页', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: '空调', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: '授权管理', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: 'OTA 升级', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: 'NFC 钥匙', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: '能耗排名', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: '千里眼', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: '车辆状态', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: '发送位置', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: '遥控驾驶', state: 'unstart', includeBy: 'sea' },
        { level: 'business', name: '商场', state: 'unstart', includeBy: 'sea' }
    ];
    const services = [
        { level: 'service', name: '身份校验', state: 'unstart', includeBy: 'sea' },
        { level: 'service', name: '基础业务', state: 'unstart', includeBy: 'sea' },
        { level: 'service', name: '文件上传', state: 'unstart', includeBy: 'sea' },
        { level: 'service', name: '发帖', state: 'unstart', includeBy: 'sea' },
        { level: 'service', name: '地图基础', state: 'unstart', includeBy: 'sea' },
        { level: 'service', name: '账号登录', state: 'unstart', includeBy: 'sea' }
    ];
    const bases = [
        { level: 'base', name: '网络', state: 'unstart', includeBy: 'sea' },
        { level: 'base', name: '通用工具', state: 'unstart', includeBy: 'sea' },
        { level: 'base', name: '通用UI', state: 'unstart', includeBy: 'sea' },
        { level: 'base', name: '蓝牙基础', state: 'unstart', includeBy: 'sea' },
        { level: 'base', name: 'NFC基础', state: 'unstart', includeBy: 'sea' },
        { level: 'base', name: '二维码', state: 'unstart', includeBy: 'sea' },
        { level: 'base', name: '埋点', state: 'unstart', includeBy: 'sea' },
        { level: 'base', name: '日志', state: 'unstart', includeBy: 'sea' },
        { level: 'base', name: '通用类库', state: 'unstart', includeBy: 'sea' }
    ];

    const projectArray = toArray(projects);
    const businessArray = toArray(businesses);
    const serviceArray = toArray(services);
    const baseArray = toArray(bases);

    const columns = 7;
    const data = concatenateArrays([projectArray, businessArray, serviceArray, baseArray],columns);
    const rows = Math.ceil(data.length / columns); 

    // Create grid
    const gridContainer = document.getElementById('gridContainer');

    for (let i = 0; i < rows; i++) {
        for (let j = 0; j < columns; j++) {
            const dataIndex = i * columns + j;
            const cellValue = data[dataIndex];

            if(cellValue == 0  || cellValue == undefined) {
                const cell = document.createElement('div');
                cell.className = 'cell';
                gridContainer.appendChild(cell);
            } else {
                const cell = document.createElement('div');
                cell.className = 'cell';
                cell.textContent = cellValue.name;
                const color = getColorByLevel(cellValue.level);
                cell.style.color = "#000000";// color;
                cell.style.borderColor = color;
                // cell.style.background = `linear-gradient(to right, black 80%, white 80%)`;
                gridContainer.appendChild(cell);
            }
        }
    }

    // Apply grid layout
    gridContainer.style.gridTemplateColumns = `repeat(${columns}, 1fr)`;
    gridContainer.style.gridTemplateRows = `repeat(${rows}, 1fr)`;

</script>
</body>
</html>
